<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharePointListCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SharePointListCopy.Properties.Settings>
            <setting name="SharePointListCopy_SharePointListsWebService_Lists"
                serializeAs="String">
                <value>http://localhost:8888/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="SharePointListCopy_SharePointUserGroupWebService_UserGroup"
                serializeAs="String">
                <value>http://localhost:8888/_vti_bin/UserGroup.asmx</value>
            </setting>
            <setting name="splistcp_SharePointSiteDataWebService_SiteData"
                serializeAs="String">
                <value>http://localhost:8888/_vti_bin/SiteData.asmx</value>
            </setting>
            <setting name="splistcp_SharePointViewsWebService_Views" serializeAs="String">
                <value>http://localhost:8888/_vti_bin/Views.asmx</value>
            </setting>
        </SharePointListCopy.Properties.Settings>
    </applicationSettings>
</configuration>